<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Google Authentication</h1>
    <a href="/auth/google" >Login With Google</a>
  </body>
</html>
